<div class="thisBody">
  <div class="tunnerOuter">
    <div  class="tunnerInner" [style.backgroundColor]="mixedColor.hex()"></div>
  </div>
  <div class="cmykForm">
    <div class="buttonList">
      <button class="button" mat-stroked-button color="primary" (click)="addLine()">Add Color</button>
      <button class="button" mat-stroked-button color="primary" (click)="openExportImportDialog()">Export/Import</button>
    </div>
    <div class="cmykLine" *ngFor="let item of arrayCmykColors.reverse(); index as index">
      <hr *ngIf="index != 0"><br>
      <mat-form-field appearance="fill" >
        <mat-label>Nickname</mat-label>
        <input type="text" matInput [(ngModel)]="item.name">
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Cyan</mat-label>
        <input type="number" matInput [(ngModel)]="item.cyan" min="0" max="100">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Magenta</mat-label>
        <input type="number" matInput  [(ngModel)]="item.magenta" min="0" max="100">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Yellow</mat-label>
        <input type="number" matInput  [(ngModel)]="item.yellow" min="0" max="100">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Black</mat-label>
        <input type="number" matInput  [(ngModel)]="item.black" min="0" max="100">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input type="number" matInput  [(ngModel)]="item.quantity" min="0" >
      </mat-form-field>
    </div>

  </div>
</div>
