.thisBody {
  .tunnerOuter {
    background-color: white;

    width: 300px;
    height: 300px;
    .tunnerInner {
      width: 300px;
      height: 300px;
      border-radius: 50px;
    }
  }
  .cmykForm{
    .buttonList{
      .button{

      }
    }
    .cmykLine{

    }
  }
}
