<div class="thisBody">
  <div class="thisHeader">
    <a class="closeButton" (click)="closeThis()">
      X
    </a>
  </div>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Stringify JSON</mat-label>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
        [(ngModel)]="strColors">

      </textarea>
    </mat-form-field>
    <br>
    <button class="button" mat-stroked-button color="primary" (click)="tryImport()">Import</button>

  </mat-dialog-content>
</div>
